---
import ProjectsCard from './ProjectsCard.jsx';

import { FaReact } from "react-icons/fa";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiChakraui, SiAstro } from "react-icons/si";

const TAGS = {
  REACT: {
    name: "Reactjs",
    class: "bg-black text-[#00D8FF]",
    icon: FaReact,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#2298BD] text-white",
    icon: RiTailwindCssFill,
  },
  CHAKRA: {
    name: "ChakraUI",
    class: "text-[#7BCBD4] bg-white",
    icon: SiChakraui,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#FF5D01] text-white",
    icon: SiAstro,
  },
}

const projects = [
  {
    title: 'Project One',
    description: 'A brief description of Project One.',
    bgColor: 'rgb(15,13,50)',       
    image:'/project2.webp',
    technologies:[TAGS.TAILWIND, TAGS.REACT, TAGS.ASTRO, TAGS.CHAKRA]
  },
  {
    title: 'Project Two',
    description: 'A brief description of Project Two.',
    bgColor: 'rgb(117,92,222)',    
    image:'/project.webp',
    technologies:[TAGS.TAILWIND, TAGS.REACT]
  },
  {
    title: 'Project 3',
    description: 'A brief description of Project 3.',
    bgColor: 'rgb(41,169,160)',    
    image:'/project3.webp',
    technologies:[TAGS.TAILWIND, TAGS.REACT]
  },
  {
    title: 'Project 4',
    description: 'A brief description of Project 4.',
    bgColor: 'rgb(2,13,10)',    
    image:'/project4.webp',
    technologies:[TAGS.TAILWIND, TAGS.REACT]
  },
];
--- 
<div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
  {projects.map((project) => (
    <ProjectsCard          
      title={project.title}
      description={project.description}                   
      image={project.image}
      bgColor={project.bgColor}
      technologies={project.technologies}
    />
  ))}
</div> 