---
import IconComponent from './IconComponent.jsx';
import { FaReact, FaHtml5, FaGitAlt, FaGithub, FaSass, FaBootstrap, FaJava } from "react-icons/fa";
import { IoLogoJavascript, IoLogoCss3 } from "react-icons/io5";
import { RiTailwindCssFill } from "react-icons/ri";
import { SiChakraui, SiAstro, SiPostman, SiSpring } from "react-icons/si";
---
<div class="flex flex-wrap gap-4 items-center justify-center text-gray-200 p-2">
  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaReact} title="ReactJS" className="size-16 xs:20 sm:size-24 hover:text-[#00D8FF] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={SiAstro} title="Astro" className="size-16 xs:20 sm:size-24 hover:text-[#FF5D01] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={IoLogoJavascript} title="JavaScript" className="size-16 xs:20 sm:size-24 hover:text-[#f0db4f] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaHtml5} title="HTML" className="size-16 xs:20 sm:size-24 hover:text-[#e34f26] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={IoLogoCss3} title="CSS" className="size-16 xs:20 sm:size-24 hover:text-[#0c73b8] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={RiTailwindCssFill} title="Tailwind" className="size-16 xs:20 sm:size-24 hover:text-[#2298BD] hover:scale-110 bg-[#000]" />
  </div>  

  <div class="tooltip-container relative py-4">
    <IconComponent icon={SiChakraui} title="ChakraUI" className="size-16 xs:20 sm:size-24 hover:text-[#7BCBD4] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaBootstrap} title="Bootstrap" className="size-16 xs:20 sm:size-24 hover:text-[#7E13F8] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaSass} title="Sass" className="size-16 xs:20 sm:size-24 hover:text-[#CF649A] hover:scale-110 bg-[#000]" />
  </div>   

  <div class="tooltip-container relative py-4">
    <IconComponent icon={SiPostman} title="Postman" className="size-16 xs:20 sm:size-24 hover:text-[#FF6C37] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaJava} title="Java" className="size-16 xs:20 sm:size-24 hover:text-[#5382A1] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={SiSpring} title="Springboot" className="size-16 xs:20 sm:size-24 hover:text-[#68bd45] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaGitAlt} title="Git" className="size-16 xs:20 sm:size-24 hover:text-[#DE4C36] hover:scale-110 bg-[#000]" />
  </div>

  <div class="tooltip-container relative py-4">
    <IconComponent icon={FaGithub} title="GitHub" className="size-16 xs:20 sm:size-24 hover:text-[#fff] hover:scale-110 bg-[#000]" />
  </div>
</div>

<style>
    .tooltip-container:hover .tooltip {
      @apply opacity-100;
    }
  </style>